<div class="meta">
  <span class="date">{{ include.date | date_to_string }}</span>
  {% unless include.tags.size == 0 %}
  <span> / </span>
  <span class="tags">
    {% for tag in include.tags %}
    <span class="tag"><a href="/tag/{{ tag }}/">{{ tag }}</a></span>{% unless forloop.last %} {% endunless %}
    {% endfor %}
  </span>
  {% endunless %}
</div>
